/* $Id$ */

/**
* @file
* CSS to be used by the Highlighter PEAR lib
*/

.hl-default {
  color: Black;
}

.hl-code {
  color: Gray;
}

.hl-brackets {
  color: Olive;
}

.hl-comment {
  color: Orange;
}

.hl-quotes {
  color: Darkred;
}

.hl-string {
  color: Red;
}

.hl-identifier {
  color: Blue;
}

.hl-builtin {
  color: Teal;
}

.hl-reserved {
  color: Green;
}

.hl-inlinedoc {
  color: Blue;
}

.hl-var {
  color: Darkblue;
}

.hl-url {
  color: Blue;
}

.hl-special {
  color: Navy;
}

.hl-number {
  color: Maroon;
}

.hl-inlinetags {
  color: Blue;
}

.hl-main {
  background-color: White;
}

.hl-gutter {
  background-color: #999999; color: White
}

.hl-table {
  font-family:courier; font-size:12px; border:solid 1px Lightgrey;
}
